<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="visible">
  <ion-card class="ion-text-center">
    <ion-card-content>
      <qrcode [qrdata]="'Your data string'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="ion-margin" (click)="startScan()">Scan QR Code</ion-button>

  <ion-item *ngIf="scanResult">
    <ion-label class="ion-text-wrap">Scanned result: {{ scanResult }}</ion-label>
  </ion-item>
</ion-content>
